body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background: #0D1B2A; /* Fundo Principal */
    margin: 0;
    color: #C8F5E1; /* Texto Principal */
}

.container {
    max-width: 900px;
    margin: auto;
}

header {
    display: flex;
    align-items: center;
    gap: 20px;
    background: #1B263B; /* Fundo Secundário */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.3);
    margin-bottom: 20px;
}

header img {
    border-radius: 50%;
    width: 100px;
    border: 3px solid #9EF01A; /* Destaque */
}

header p {
    margin: 5px 0;
    color: #778DA9; /* Texto de Suporte */
}

.repo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 15px;
}

.repo-card {
    background: #1B263B; /* Fundo Secundário */
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.3);
    transition: transform 0.2s, box-shadow 0.2s, border 0.2s;
    border: 2px solid transparent;
}

.repo-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 12px rgba(0,0,0,0.4);
    border: 2px solid #9EF01A; /* Destaque no hover */
}

.repo-card a {
    font-weight: bold;
    text-decoration: none;
    color: #9EF01A; /* Cor de Destaque */
}

.repo-card a:hover {
    text-decoration: underline;
}

.repo-card p {
    margin-top: 8px;
    font-size: 0.9em;
    color: #778DA9; /* Texto de Suporte */
}
